* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body, html {
height: 100%;
}

/*Flex*/

#Flex {
display: flex; 
flex-wrap: wrap;
}

.Align {
display: flex;
align-items: center;
justify-content: center;
}

.B-Img {
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-image: url(BIndexImg.png);
}

/*Media Querie: Mobile*/
@media (max-width: 480px) {

.B-Img {
background-position: center center; 
background-attachment: fixed; 
background-repeat: no-repeat; background-size: cover;
background-image: url(BIndexMobile.png);
position: relative;
}

.Question {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
line-height: 3rem;
text-align: center;
font-size: 80%;
}

a {
text-decoration: none;
color: white;
}

a:hover {
filter: blur(1px);
}

#Reg {
font-family: Playfair Display;
font-weight: 400;
color: white;
}

#YE {
font-family: Playfair Display;
font-weight: 600;
color: #FFD057;
}

#Poet {
font-family: Playfair Display;
font-weight: 600;
color: #FFF2D0;
}

/*Emperor Background Image*/

.B-Img-Emperor {
background-position: center center; 
background-attachment: fixed; 
background-repeat: no-repeat; background-size: cover;
background-image: url(BEmpMobile.png);
position: relative;
}

/*You are now the Yellow Emperor.*/
h2 {
position: fixed;
top: 80%;
color: white;
font-family: Playfair Display;
font-weight: 400;
font-size: 1.5rem;
}

#Start {
text-decoration: none;
color: white;
}

#Arrow {
position: fixed;
top: 85%;
}

#Arrow:hover {
filter: blur(1.5px);
}

/*Emperor Grid*/
.EmpGrid {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-auto-rows: minmax(25vh, auto);
color: white;
background: url("BMainImg.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.EmpGrid div {
border: .5px solid rgba(255,255,255, 0.2);
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
}

.EmpGrid button {
font-size: 6rem;
color: white;
background-color: transparent;
border: none;
width: 100%;
height: 100%;
font-family: Garamond;
color: white;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-decoration: none;
}

/*Emperor Text*/
.B-Img-Emperor-Text {
background-position: center center; 
background-attachment: fixed; 
background-repeat: no-repeat; background-size: cover;
background-image: url(BEmpMobile2.png);
position: relative;
}

p {
position: fixed;
top: 10%;
font-family: Playfair Display;
font-style: normal;
font-weight: 400;
font-size: .5rem;
line-height: 2.3rem;
text-align: center;
color: white;
flex-direction: column;
}

#StartText {
top: 85%;
align-items: center;
}

}

/***!! Media Querie: Web !!***/

@media (min-width: 481px) {

/*Emperor Background Image*/
.B-Img-Emperor {
background-position: center center; 
background-attachment: fixed; 
background-repeat: no-repeat; background-size: cover;
background-image: url(BMainImg.png);
position: relative;
}

.B-Img-Emperor-Text {
background-position: center center; 
background-attachment: fixed; 
background-repeat: no-repeat; background-size: cover;
background-image: url(ETextBImg.png);
position: relative;
}

/*Beginning Title*/

.Question {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
line-height: 3rem;
}

a {
text-decoration: none;
color: white;
}

a:hover {
filter: blur(1px);
}

#Reg {
font-family: Playfair Display;
font-weight: 400;
color: white;
}

#YE {
font-family: Playfair Display;
font-weight: 600;
color: #FFD057;
}

#Poet {
font-family: Playfair Display;
font-weight: 600;
color: #FFF2D0;
}

/*Next Page Indicators*/

h2 {
position: fixed;
top: 80%;
color: white;
font-family: Playfair Display;
font-weight: 400;
font-size: 1.5rem;
}

#Start {
text-decoration: none;
color: white;
}

#Arrow {
position: fixed;
top: 85%;
}

#Arrow:hover {
filter: blur(1.5px);
}

/*Poet Grid*/

.grid {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-auto-rows: minmax(25vh, auto);
color: white;
background: url("BIndexImg.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.grid div {
border: .5px solid rgba(255,255,255, 0.2);
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
}

.grid button {
font-size: 6rem;
color: white;
background-color: transparent;
border: none;
width: 100%;
height: 100%;
font-family: Garamond;
color: white;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-decoration: none;
}

#PoetGrid1 {
background: url("PoetGridImg1.png"); 
background-size: cover;
}

#PoetGrid1:hover {
cursor: pointer;
filter: blur(1px);
}

#PoetGrid2 {
background: url("PoetGridImg2.png"); 
background-size: cover;
opacity: 80%;
filter: blur(1px);
}

#PoetGrid3 {
background: url("PoetGridImg3.png"); 
background-size: cover;
opacity: 80%;
filter: blur(1px);
}

#PoetGrid4 {
background: url("PoetGridImg4.png"); 
background-size: cover;
opacity: 80%;
filter: blur(1px);
}

#PoetGrid5 {
background: url("PoetGridImg5.png"); 
background-size: cover;
opacity: 80%;
filter: blur(1px);
}

#PoetGrid6 {
background: url("PoetGridImg6.png"); 
background-size: cover;
opacity: 80%;
filter: blur(1px);
} 

/*Emperor Grid*/

.EmpGrid {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-auto-rows: minmax(25vh, auto);
color: white;
background: url("BMainImg.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.EmpGrid div {
border: .5px solid rgba(255,255,255, 0.2);
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
}

.EmpGrid button {
font-size: 6rem;
color: white;
background-color: transparent;
border: none;
width: 100%;
height: 100%;
font-family: Garamond;
color: white;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-decoration: none;
}

/*General Text Styles*/

p {
position: fixed;
top: 40%;
padding-left: 10%;
padding-right: 10%;
font-family: Playfair Display;
font-style: normal;
font-weight: 400;
font-size: 1.3rem;
line-height: 2.3rem;
text-align: center;
color: white;
}

#StartText {
top: 80%;
align-items: center;
}

#EmpTextNum {
top: 86%;
align-items: center;
position: fixed;
color: white;
font-family: Playfair Display;
font-weight: 400;
}

#PetiteNumbers {
opacity: 60%;
text-decoration: none;
}

#TruthButton {
font-family: Helvetica Neue;
font-weight: 200;
top: 20%;
position: fixed;
}

/*General Text Styles*/


}

