#title: {
	text-align: center;
	color: white;
	font-family: 'Cormorant Garamond', serif;
}

p {
  text-align: center;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

.myClass
{
	font-size: 20px;
	color: white;
}

.blue
{
	color: lightblue;
}

.Name
{
	color: white;
	font-size: 14px;
	font-family: 'Homemade Apple', cursive;
	letter-spacing: 3px;
}

.bigger
{
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	letter-spacing: -1px;
}

.squeeze
{
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	letter-spacing: -3px;
}

.mini
{
	font-size: 10px
}