* {
	margin-top: 2%;
	margin-left: 2%;
	font-family: Bodoni;
}

h1 {
	font-size: 18px;
	color: orange;
}

.placeholder {
	font-family: Bodoni
}

#shape {
background: url(ghost.png);
background-size: contain;
background-repeat: no-repeat;
position: absolute;
width: 229px;
height: 229px;
}
