* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-top: 3vh;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  color: white;
}

nav {
display: flex;
justify-content: center;
align-items: center;
min-height: 6vh;
}

nav h1 {
font-size: 0.5rem;
font-family: Helvetica Neue;
font-style: thin;
font-weight: 200;
line-height: 17px;
text-align: center;
}

h1 {
font-family: 'Playfair Display', serif;
font-weight: 200;
font-size: 2.5rem;
}

body {
background: url("GYEB.png");
}

#full-btn {
font-size: 0.5rem;
font-family: Helvetica Neue;
font-style: thin;
font-weight: 200;
line-height: 17px;
text-align: center;
}

.choice h1 {
  font-size: 1.2rem;
}

.choice {
  min-height: 90vh;
  display: flex;
  margin: auto;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-bottom: 20vh;
  padding-top: 20vh;
}

.choice button {
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.8rem;
  font-family: Helvetica Neue;
  font-style: thin;
  font-weight: 200;
  line-height: 17px;
  text-align: center;
}

.choice button:hover {
  border: 2px solid rgb(255,255,255);
  cursor: pointer;
}

.options {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(25vh, auto);
  color: white;
  font-size: 2rem;
  background: url("GYEB.png");
}

.grid div {
  border: .5px solid rgba(255,255,255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

 .grid button,
header button {
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-family: 'Cinzel', serif;
  color: #FFF2D0;
}


#ye1 {
 background: url("GYE1.png");
 font-family: 'Cormorant', serif;
}

#ye1:hover {
  border: 2px solid rgb(255,255,255);
  cursor: pointer;
}

#ye2 {
background: url("GYE2.png"); 
background-size: cover;
}

#ye2:hover {
  border: 2px solid rgb(255,255,255);
  cursor: pointer;
} 

#ye3 {
background: url("GYE3.png");
}

#ye3:hover {
  border: 2px solid rgb(255,255,255);
  cursor: pointer;
}

#ye4 {
 background: url("GYE4.png");
}

#ye4:hover {
  border: 2px solid rgb(255,255,255);
  cursor: pointer;
}

#ye5 {
background: url("GYE5.png"); 
background-size: cover;
display: none;
}

#ye5:hover {
  border: 2px solid rgb(255,255,255);
  cursor: pointer;
}

#ye6 {
background: url("GYE6.png");
display: none;
}

#ye6:hover {
  border: 2px solid rgb(255,255,255);
  cursor: pointer;
}
